services:
	- App\Core\RouterFactory::createRouter
	- App\Model\ArticleManager
	- App\Model\Auth
	- App\Model\UserManager
	- App\Model\PostManager
	- App\Model\CalculatorManager
	- App\MyApi\v1\Handlers\UsersListingHandler
	- App\MyApi\v1\Forms\ImgForm
	- App\Model\ImageUploadFormFactory
	- App\Model\MailSender

	

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service

	